<div class='section'>
    <div class='container'>
        <div class='columns is-centered'>
            <div class='column is-half'>
                <h2 class='title'>Editing Tweet</h2>
                <%= render 'form', tweet: @tweet %>
            </div>
        </div>
    </div>
</div>

<nav class='navbar is-fixed-bottom'>
    <div class='navbar-menu'>
        <div class='navbar-item'>
            <div class='field is-grouped'>
                <p class='control'>
                    <%link_to 'Canecel', tweets_path, class: 'button is-dark' %>
                </p>
            </div>
        </div>
    </div>
</nav>